//文字选中效果
p::selection {
    background:#cccccce3;
    color:#000000;
}
p::-moz-selection {
    background:#cccccce3;
    color:#000000;
}
p::-webkit-selection {
    background:#cccccce3c;
    color:#000000;
}

//提示块文字颜色的显示
.custom-block.tip, .custom-block.warning, .custom-block.danger
    color: #2c3e50;
    box-shadow: inset 0px 0px 9px black;

// 文字颜色的修改
.theme-default-content code
    color: #3eaf7c;
    text-shadow: 0px 0px 13px black;
.h1
    color: #b4b4b4;
.h2
    color: #b4b4b4;
.h3
    color: #b4b4b4;
.h4
    color: #b4b4b4;
.title
    color: #b4b4b4;
.head
  color: #b4b4b4;
.li
    color: #b4b4b4;

//sidebar优化
.sidebar
    color: #9400D3 !important;
    background-color: #E4E4E5;//sidebar背景颜色
    box-shadow: inset 0px 0px 10px black;
    font-size: 16px;
    background-color: #fff;
    width: 15.5rem;
    border-right: 0px solid #eaecef;
a.sidebar-link.active {
    text-shadow: 0 0 0px black;//sidebar当前浏览去除文字阴影
}


//navbar优化
.navbar .links {
    text-shadow: 0 0 20px black;
}
.navbar {
    border-bottom: 0px solid #eaecef;
}

//全局颜色的修改
html, body {
    color: #b4b4b4;
    background-color: #232323;
}//footer部分的颜色




//指针特效
body
  color: #b4b4b4;
  background-color #232323;//整体背景颜色
  cursor: url('/pointer/default.cur'), auto;
body
  .header
    .banner
      cursor: url('/pointer/default.cur'), auto;
.container
  aside
    .info-card
      .info-card-body
        cursor: url('/pointer/default.cur'), auto;
a, button, #goTop, .jump, h1, .info-avatar, .post-tag
  cursor: url('/pointer/link.cur'), auto;