// 鼠标指针
body
  cursor: url('/pointer/default.cur'), auto;
body
  .header
    .banner
      cursor: url('/pointer/default.cur'), auto;
.container
  aside
    .info-card
      .info-card-body
        cursor: url('/pointer/default.cur'), auto;
a, button, #goTop, .jump, h1, .info-avatar, .post-tag
  cursor: url('/pointer/link.cur'), auto;

pre
    max-height: 60vh;
    overflow: auto;

//标题美化
.header
  .banner
    .container
      h1
        font-size: 1.6em;
        color: #fff;
        text-shadow: 0 0 0.1em, 0 0 0.1em;
.navbar .navbar-site-name {
    color: #24292e !important;
    font-size: 1.1rem !important;
}
.navbar .navbar-link
    font-size: 1rem;
.posts-list-item .post-title
    font-size: 1.1rem;

// 宽屏隐藏原有返回顶部按钮
.go-to-top
    display none;

//文字选中效果
::selection
    background-color: #79ffe1;
    color: #000;

//文章阴影+透明
.main-div
    background-color: rgba(255, 255, 255, 0.65) !important;
    box-shadow: 0 0 0.95rem rgba(0, 0, 0, 0.1) !important;
//配合文章的tag透明色
.post-tag
    background-color: hsla(0, 0%, 100%, 0) !important;

//磨砂导航栏
.navbar
    backdrop-filter: saturate(180%) blur(5px);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
.navbar.fixed
    background-color: rgba(255, 255, 255, 0.25) !important;
    backdrop-filter: saturate(180%) blur(5px);
    -webkit-backdrop-filter: saturate(180%) blur(5px);

/*滚动条效果-start*/
::-webkit-scrollbar 
    width:2px; 
    height:2px; 
.sidebar::-webkit-scrollbar 
    width: 2px;
    height: 2px;
::-webkit-scrollbar-thumb 
    background-image: linear-gradient(45deg, Cyan 0%, Magenta 50%, Yellow 100%);
.reading-progress .progress
    background-image: linear-gradient(45deg, Cyan 0%, Magenta 50%, Yellow 100%) !important;
/*滚动条效果-end*/

//添加圆角
blockquote 
    background:#F3F4F4 !important;
    color:#000000 !important;
.content img 
   -webkit-border-radius: 13px !important;
.header
   -webkit-border-radius: 10px !important;

//头像区添加阴影
.info-card .info-card-header .info-avatar
    box-shadow: 0 0 0px 1px black !important;
 
//去除白色边框
.navbar
    border-bottom: 0px solid #eaecef !important;
    box-shadow: 0 0 0.95rem rgba(0, 0, 0, 0.1) !important;
.banner
    border-bottom: 0px solid #eaecef !important;
.footer
    border-top: 0px solid #eaecef !important;

//列表移动
.content ul, .content ol
    padding-left: 1.6em;