$accentColor = #9400D3
$contentWidth = 800px //内容区最大宽度
$nprogressColor = #9400D3
$accentColor =#9400D3
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$gradientColor = linear-gradient(to bottom right, $accentColor, #2c3e50c7)

