// 色彩
@accentColor: #0004ff; // 全局主色
@textColor: #2a2a2a; // 文字颜色
@borderColor: #eaecef; // 边框颜色
@codeBgColor: #282c34; // 代码块背景颜色
@arrowBgColor: #ccc; // 箭头背景颜色
// 布局
@navbarHeight: 4.125rem; // 导航栏高度
@sidebarWidth: 21rem; // 侧边栏宽度
@contentWidth: 900px; // 内容区域宽度
@homePageWidth: 800px; // 主页宽度