$accentColor = #2486b9 // 宝石蓝
$contentWidth = 500 //内容区最大宽度
$nprogressColor = #f73ba
$accentColor = #5714a8
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$gradientColor = linear-gradient(to bottom right, $accentColor, #2c3e50c7)

