$accentColor = #b35678 
$contentWidth = 300 //内容区最大宽度
$nprogressColor = #f73ba
$accentColor =#b35678
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$gradientColor = linear-gradient(to bottom right, $accentColor, #2c3e50c7)

